// HEADER START
.pdt-header{
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    z-index: 234;
    transition: 0.3s background-color;

}

.logo{
  height: 32px;
  width: 252px;
  background-image: url('../img/logo-prakerja-sdg-white.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}


.header-fixed{
    position: fixed;
    z-index: 999;
    background: white;
    top:0;
    left: 0;
    box-shadow: 0px 0px 0px 1px rgba(214, 219, 224, 0.2), 0px 8px 16px -8px rgba(1, 24, 48, 0.2);
    transition: 0.3s background-color;


    .logo{
      background-image: url('../img/logo-prakerja-sdg-colored.svg');
    }

    .burger-menu .icon {
      background-color: var(--n500);

      &::before, &::after{
        background-color: var(--n500);
      }
    }
}

.md-hide{
    display: none;
}

.md-show{
    display: block;
}

.navbar-custom{
    list-style-type: none;
    margin: 0;

    a.nav-link{
      position: relative;
      // display: inline-block;
      padding: .5rem .75rem;
      border-radius: .5rem;
      &:hover{
        background-color: rgba(#2A72C7, .05);
      }
    }
    
    a.nav-link.nav-link-active{
      color: var(--primary);
      background-color: rgba(#2A72C7, .05);
      
    }

    // mobile custom
    &.m-menu{
        width: 100%;
        height: 100%;
        background-color: var(--b200);
        position: fixed;
        z-index: 9991;
        margin:0 0 0 0;
        padding:4rem 0 0 0;
        top:0;
        left: 0;
        display: block!important;
        &:before{
            display: block;
            content: '';
            width: 100%;
            height: 50%;
            position: absolute;
            left:0;
            bottom: 0;
            z-index: 0;
            background: linear-gradient(0deg, #FFFFFF 21.93%, rgba(255, 255, 255, 0) 100%);
            z-index: -1;
        }
        .md-hide{
            display: inherit!important;
        }
        li{
            
            a.nav-link{
                padding: .5rem;
                margin: .5rem 0;
                text-align: center;
                border-radius: 4px;
                &:hover{
                    // background-color: rgba(black, .1);
                    background-color: rgba(white, .5);
                }
            }

            .btn{
                width: 100%;
            }
        }
        .burger-menu{
            float: right;
        }
    }

    li{
        margin: 0 .25rem;
        // font-size: calc(1rem + 3.3vw);
    }
}

.navbar-custom a.nav-link:hover {
  background-color: rgba(42,114,199,.05);
}

  .burger-menu {
    width: 38px;
    height: 38px;
    transition-duration: 0.5s;
    padding: 4px;
    // outline: solid 1px red;
    position: absolute;
    top:.75rem;
    right: 1rem;
  }
  .burger-menu .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    top: 18px;
    background-color: white;
  }
  .burger-menu .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: white;
    content: "";
    top: -10px;
  }
  .burger-menu .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: white;
    content: "";
    top: 10px;
  }
  .burger-menu.open .icon {
    transition-duration: 0.5s;
    background: transparent;
  }
  .burger-menu.open .icon:before {
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
  }
  .burger-menu.open .icon:after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
  }
  .burger-menu:hover {
    cursor: pointer;
  }

  @media (min-width: 1300px) { 
    .logo{
      width: 310px;
      // outline: solid 1px white;
    }
    .navbar-custom{
      li{
        margin: 0 .5rem;
      }
    }
   
  }


  @media (min-width: 992px) { 

    .logo{
      width: 272px;
    }

    .navbar-custom{
      li{
        margin: 0 .25rem;
        font-size: 1rem;
      }
    }

    .pdt-header{
      .nav-link{
        color: white;
      }
    }

    .header-fixed{
      .nav-link{
        color: var(--n500);;
      }
    }

    // used for mobile navigation
    .md-hide{
        display: inherit;
    }
    .md-show{
        display: none;
    }


}

@media (min-width: 992px) {
  .navbar-custom{
    li{
      font-size: 14px;
    }
  }
}
@media (min-width: 1400px) {
  .navbar-custom{
    li{
      font-size: 16px;
    }
  }
}
// HEADER END