// Style 1
.main-hero{
    min-height: 99vh;
    background-image: url('../img/main-bg.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .5);
        position: absolute;
        z-index: 0;
    }

    > .container{
        position: relative;
        z-index: 1;
    }
    
    p, h1{
        color: white;
    }
}

.avatar{
    width: 5.5rem!important;
    height: 5.5rem;
    border-radius: 3rem;
    background-color: var(--bg-default);
    flex: 0 0 5.5rem;
    overflow: hidden;
    border: solid 1px var(--border-default);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.list-custom{
    margin: 0;
    padding: 0;
    list-style-type: none;
    // column-count: 2;
    li{
        
        border: solid 1px var(--border-default);
        margin-top: -1px;

        a{
            text-decoration: none;
            color: var(--text-secondary);
            padding: 1rem;
            display: block;
            &:hover{
                text-decoration: underline;
                color: var(--primary);
            }
        }
    }
}

.list-agenda{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.list-agenda-item{
    border-bottom: dashed 1px var(--border-default);
    &:hover{
        background-color: var(--bg-default);
    }
}

.bg-odd{
    background-color: var(--bg-default);
}

.card-partner{
    // border: solid 1px var(--border-default);
    padding: 1rem;
    background-color: white;
}
.img-partner{
    width: 7rem;
    height: 7rem;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.scroll-hint{
    display: inline-flex;
    width: 80px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    writing-mode: lr-tb; 
    position: absolute;
    color: var(--text-disabled);
    bottom: 2rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    animation-name: scroll_animate;
    animation-duration:2s;
    animation-iteration-count: infinite;

    &:before{
        content: '';
        display: block;
        width: 24px;
        height: 1px;
        margin-right: 8px;
        background: var(--border-default);
        margin-top: auto;
        margin-bottom: auto;
    }
}

@keyframes scroll_animate {
    0%   {bottom : 1rem;}
    50%   {bottom : 2rem;}
    100% {bottom: 1rem;}
}


/* media querys */

@media (min-width: 576px) { 
   
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

    .list-custom{
        // column-count: 2;
    }

    

}

@media (min-width: 1200px) { 
    
   
}